body {
  font-family: "Open Sans", sans-serif;
  color: #fa7704;  
}

#body {
  margin: 0 150px;
  padding: 10px 0;
}

a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #aed6e9;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #37517e;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #37517e;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #47b2e4;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6bc1e9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  margin: 10px 150px;
  padding: 5px 0;
  background: rgba(17, 201, 167, 0.947);
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(17, 201, 167, 0.947);
  opacity: 0.8  ;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 100px ;
}

#header .logo h3 {
  font-size: 12px;
  margin: 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 600;
  color: black;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 19px;
  font-weight: 500;
  color: #250bf1;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #141514;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #10b1ec64;
  box-shadow: 0px 0px 30px rgba(20, 187, 120, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #000102;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #da490b;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #37517e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #47b2e4;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #47b2e4;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}


/* Main Slide Section */
#home-slideshow {
  position: relative;
  height: 700px; /* Adjust the height as needed */
  overflow: hidden;
}

.home-slideshow-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.home-slide {
  flex: 0 0 100%;
  position: relative;
  right: -100%;
  transition: transform 0.5s ease-in-out;
}

.home-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-slide .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.home-slide.active {
  transform: translateX(-100%);
}

.home-slide.active2 {
  transform: translateX(-100%);
}

.home-slide.active .text {
  opacity: 1;
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero{
  width: 100%;
  height: 100vh;
  padding: 0 0 60px 0;
  background: url('img/krishna.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#hero .mask{
  width: inherit;
  height: inherit;
  /* background: rgba(0, 0, 0, 0.6); */
}

#hero .container{
  display: flex;
  align-items: center;
  justify-items: center;
  width: inherit;
  height: inherit;
}

#hero h1 {
  margin: 0 120px 10px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: rgb(213, 15, 15);
}

#hero h2 {
  color: rgb(219, 11, 11);
  margin: 0 120px 50px 0;
  text-align: right;
  font-size: 24px;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #7f9fef;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# notices
--------------------------------------------------------------*/
.notices{
  /* background: linear-gradient(45deg,white,black); */
  background-color: rgba(10, 130, 174, 0.207);
}

.notices .content {
  padding: 10px 100px 0 100px;
}

.notices .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: rgb(228, 14, 14);
  text-align: center;
}


/* .notices .img {
  padding-right: 40px;
  background: url('notice-img.jpg');
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
} */

.notices .accordion-list {
  padding: 0 50px 10px 50px;
}

.notices .accordion-list ul {
  padding: 0;
  list-style: none;
}

.notices .accordion-list li+li {
  margin-top: 15px;
}

.notices .accordion-list li {
  padding: 20px;
  background: linear-gradient(0deg,white,black);
  color: white;
  border:1px solid black;
  border-radius: 10px;
}

.notices .accordion-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 30px;
  outline: none;
  cursor: pointer;
}

.notices .accordion-list span {
  color: #47b2e4;
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}

.notices .accordion-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.notices .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.notices .accordion-list .icon-show {
  display: none;
}

.notices .accordion-list a.collapsed {
  color: #3e5061;
}

.notices .accordion-list a.collapsed:hover {
  color: #011721;
}

.notices .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.notices .accordion-list a.collapsed .icon-close {
  display: none;
}

.notices .footer{
  display: flex;
  justify-content: right;
  padding-bottom: 20px;
  padding-right: 50px;
}

.notices .a{
  color: black;
}

@media (max-width: 1024px) {

  .notices .content,
  .notices .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .notices .img {
    min-height: 400px;
  }

  .notices .content {
    padding-top: 30px;
  }

  .notices .accordion-list {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .notices .img {
    min-height: 200px;
  }
}

/*--------------------------------------------------------------
# events
--------------------------------------------------------------*/
.events{
  background-color: #140404;
}
.events .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #de5757;
}

.events .icon-box .icon {
  margin-bottom: 10px;
}

.events .icon-box .icon i {
  color: #47b2e4;
  font-size: 36px;
  transition: 0.3s;
}

.events .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}

.events .icon-box h4 a {
  color: #37517e;
  transition: ease-in-out 0.3s;
}

.events .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.events .icon-box:hover {
  transform: translateY(-10px);
}

.events .icon-box:hover h4 a {
  color: #47b2e4;
}

.events .more-info{
  margin-top: 40px;
  text-align: right;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f3f5fa;
  min-height: 40px;
  margin-top: 72px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 68px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 600;
  color: #37517e;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #4668a2;
  content: "/";
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 12px;
  background: #0f4f6d;
}

#footer .footer-top {
  padding: 10px 0 10px 0;
  background: #3db7cf;
}

#footer .footer-top .footer-contact h3 {
  font-size: 12px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: black;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #5e5e5e;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: black;
  position: relative;
  text-align: center;
  padding: 20px 0 20px 0;
}

#footer .footer-top .footer-links {
  margin-bottom: 0;
}

#footer .footer-top .footer-links-div {
  padding-left: 40px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


#footer .footer-top .footer-links ul li {
  padding: 4px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #5e5e5e;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #d81056;
}

#footer .footer-top .social-links {
  text-align: center;
}

#footer .footer-top .social-links p {
  font-size: 16px;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #0f4f6d;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #dd0dbe;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  font-family: cursive;
  padding: 10px 10px;
  color: #fff;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
}

#footer .credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }

  #footer .credits {
    padding-top: 4px;
  }
}