{% extends 'Home/base.html' %}
{% load static %}
{% block title %}
NIRGOVIND-Reset_password
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'login/style.css' %}">
{% endblock css %}


{% block body %}

<!-- ======= Main ======= -->
<div class="main">
    <div class="maincontainer">
      <p>Email: {{ email }} </p>
        <form method="POST" action="{% url 'User:reset_password' %}">
            {% csrf_token %}
            {{ form }}
            <input type="hidden" name="email" value="{{ email }}">
            <!--<div>
              <label for="new_password1">New Password:</label>
              <input type="password" id="new_password1" name="new_password1">
            </div>
            
            <div>
              <label for="new_password2">Confirm New Password:</label>
              <input type="password" id="new_password2" name="new_password2">
            </div>-->
            <input type="checkbox" id="showPassword">
            <label for="showPassword">Show Password</label>
            <button type="submit">Reset Password</button>
          </form>
    </div>
</div>

<script>
  // Toggle password visibility when the checkbox is clicked
  document.getElementById("showPassword").addEventListener("change", function() {
    var passwordInput = document.getElementById("id_new_password1");
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
    } else {
      passwordInput.type = "password";
    }
  });
</script>

{% endblock %}