{% extends 'Home/base.html' %}
{% load static %}
{% block title %}
NIRGOVIND-Verify_otp
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'login/style.css' %}">
{% endblock css %}


{% block body %}

<!-- ======= Main ======= -->
<div class="main">
    <div class="maincontainer">
        <form method="POST">
            {% csrf_token %}
            
            {% if error_message %}
            <p>{{ error_message }}</p>
            {% endif %}
            
            <label for="otp">Enter OTP:</label>
            <input type="text" id="otp" name="otp">
            
            <button type="submit">Verify OTP</button>
          </form>
    </div>
</div>

{% endblock %}