body {
  font-family: "Open Sans", sans-serif;
  color: #444444;  
}

a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #aed6e9;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  background: rgba(2, 10, 22, 0.9);
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(2, 10, 22, 0.9);
  opacity: 0.8  ;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 100px ;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #ebd5f9;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #af49f8;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #000102;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #8fd7f8;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #37517e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #47b2e4;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #47b2e4;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #7f9fef;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/* Main section */
.main{
 background: url("bg15.jpg");
 background-repeat: y-axis;
 font-family: cursive;
 padding-top: 150px;
 
}

.title{
  background: url("bg17.png");
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 40px;
  font-weight: 400;
  color: black;
}

.notice-card-collection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 100px; 
  color: white;
}

.notice-card{
  background-image: url("bg16.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* border-radius: 30px;
  box-shadow: 10px 10px 5px black; */
  width: 380px;
  height: 400px;
  margin: 50px 60px 50px 60px;
  color: black;
  font-family: cursive;
}

.notice-name{
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 60px;
}

.notice-date{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 20px;
  font-size: 20px;
  margin-bottom: 3px;
  margin-top: 5px;
}

.notice-description{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  font-size: 20px;
  margin: 10px 10px 10px 30px;
}


.notice-pdf{
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  justify-content: right;
  font-size: 20px;
  margin-bottom: 7px;
}

@media (max-width: 768px){
  .notice-card{
    margin: 50px 10px 50px 10px;
  }
  .title{
    font-size: 70px;
  }
}
/* footer */

#footer {
  font-size: 14px;
  background: #37517e;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #37517e;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #5e5e5e;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #37517e;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #47b2e4;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #47b2e4;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #47b2e4;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #209dd8;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

#footer .credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }

  #footer .credits {
    padding-top: 4px;
  }
}




.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup form {
  background-color: #fff;
  padding: 20px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#quiz-id-input {
  width: 85%;
}

#quiz-id-status {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

#quiz-form button {
  margin-left: 5%;
}

#quiz-form label p {
  font-size: 10px;
  margin: 0;
  display: contents;
  color: red;
}

.fa-check,
.fa-times {
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-check {
  background-color: green;
}

.fa-times {
  background-color: red;
}


#delete-form p {
  font-size: 14px;
  color: red;
}

#delete-form label {
  display: contents;
  font-size: 15px;
}




#edit-question-popup,
#add-question-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  overflow-y: auto;
}

#question-form {
  background-color: #fff;
  padding: 20px;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}










#quiz-list {
  margin-top: 20px;
  width: 60%;
  margin-left: 20%;
  border: 1px solid #ccc;
  padding: 5px;
}

.quiz-item {
  padding: 3px 30px 3px 30px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz-options span {
  width: 180px;
  text-align: center;
}

.quiz-btn-container {
  position: relative;
  margin: 0 2px;
  display: flex;
  align-items: center;
}

.quiz-btn-container button {
  height: 21px;
  width: 21px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz-btn-container i {
  margin-left: auto;
  margin-right: auto;
}

#message-preview,
#message-add,
#message-answerkey,
#message-delete,
#message-edit {
  position: absolute;
  top: 160%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  width: auto;
  white-space: nowrap;
  color: #888;
  background-color: white;
  border: 1px solid #ccc;
  font-size: 10px;
  font-weight: bolder;
  padding-left: 2px;
  padding-right: 2px;

}

#btn-preview:hover + #message-preview,
#btn-add:hover + #message-add,
#btn-answerkey:hover + #message-answerkey,
#btn-delete:hover + #message-delete,
#btn-edit:hover + #message-edit {
  display: block;
}


.timestamp {
  font-size: 10px;
  color: #888;
}

.quiz-title h6{
  margin-bottom: 0;
}



.question-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}








#quiz-container {
  max-width: 600px;
  margin: 0 auto;
}

#question-container {
  margin-bottom: 20px;
}

#score-container {
  margin-top: 20px;
  font-weight: bold;
}


.question {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f5f5f5;
}

.question p {
  font-weight: bold;
}

.option-class label {
  margin-bottom: 0;
  margin-left: 10px;
}

.option-class {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.match-class {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px 10px 20px;
}

.match-class label {
  margin-bottom: 0;
  margin-right: 10px;
}


.question select {
  width: max-content;
  white-space: nowrap;
  padding: 2px 5px 2px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.blank-class p {
  display: contents;
  line-height: 2.5;
}

.blank-class input {
  width: 100px;
  margin: 0px 5px 0px 5px;
  padding: 2px 5px 2px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


#question-type option:first-child {
  display: none;
}

.required-label::after {
  content: "*";
  color: red;
  margin-left: 4px;
}

#question-text-message{
  display: none;
  color: red;
}

#question-text-input{
  border: 1px solid #ccc;
  padding: 6px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  min-height: 100px;
  resize: vertical;
}

.question .options-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.question p {
  word-wrap: break-word;
}

.question textarea {
  width: -webkit-fill-available;
}

.question input[type='file'],
.question textarea {
  margin: 0px 20px;
}

.question .option {
  display: flex;
  align-items: center;
}

.question .option input[type="radio"],
.question .option input[type="checkbox"] {
  margin-right: 5px;
}

.question .fill-blank-input {
  width: 70%;
}

.question .dropdown-select {
  width: 100%;
}

.question .matching-pair {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.question .matching-pair input {
  margin-right: 5px;
}

.question .matching-pair .matching-text {
  font-weight: bold;
}

.question .essay-input {
  height: 100px;
  resize: vertical;
}

.question .file-upload {
  margin-top: 5px;
}

#score-container {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}




form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea {
  height: 100px;
}

#options-container {
  margin-top: 10px;
}

button[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Styling for dynamically added option fields */
#options-container label {
  display: block;
  margin-top: 10px;
}

#options-container input[type="text"] {
  width: 80%;
}

/* Additional styles for better visual presentation */
h1 {
  text-align: center;
}

.error-message {
  color: red;
}






/* Practice Quiz Style */

